<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer="defer"></script>
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>


        <form>
            <input type="text" name="address" id="userAddress" placeholder="Enter an address">
            <button>Search</button>
        </form>

        <p class="msg1"></p>
        <p class="msg2"></p>
    </div>
    


    {{>footer}}
</body>

</html>